#header {
    position: sticky;
    z-index: 100;
    width: 100%;
    background: #FEF1E5;
}

.navbar {
    padding: 15px 50px;
}

.navbar-brand {
    font-weight: bold;
    font-size: 1.5rem;
    text-transform: uppercase;
    color: black !important;
}

.navbar-item {
    font-weight: 600;
    text-transform: uppercase;
    padding-left: 50px;
}

.nav-link {
    letter-spacing: 2px;
    font-size: 1em;
    font-weight: 700;
    margin: 0 10px;
    color: black;
}

.nav-link:hover {
    background: #dcdde1 !important;
    color: #262626;
    border-radius: 5px;
    transition: all 0.6s ease 0s;
}
.nav-link-signup {
    letter-spacing: 2px;
    font-size: 1em;
    font-weight: 700;
    margin: 0 10px;
    color: black;
    background: #dcdde1 !important;
    border-radius: 5px;
}
.btn-header {
    border: 2px;
    border-color: #232A4E;
    border-radius: 10px;
}